@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
:root{
  --primary-color: rgb(4,136,118);
    --dark-gray:#63676d;
    --off-white:#F3F4F6;
    --light-blue: rgb(41, 211, 154);
}

body{
    font-family:'Montserrat', sans-serif;
    margin: 0 auto;
    text-align:center;
    /* position:relative; */
}
a{
  text-decoration: none;
  color: var(--off-white);
}
nav{
  width:100%;
  margin:0 auto;
  background: var(--primary-color);
  padding:1.6rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: var(--off-white);
  border-bottom-left-radius: 15px;
}

.navbar-ul{
  list-style: none;
  display:flex;
  justify-content:center;
  align-items: center;
}
.navbar-ul .active{
  font-weight:bolder;
}

main{
  padding:20px;
  width:100%;
  margin:.5rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:25px;
  min-height:max-content;
}
input{
  width:250px;
  padding:5px;
  outline:none;
  border:2px solid black;
  font-size:18px;
  border-radius:5px;
}
.container{
  margin:2rem auto;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:25px;
}
.result{
  margin:0rem auto;
  visibility:hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
}
.message{
  font-weight: bolder;
  color: var(--primary-color);
  font-size: 18px;
}
.animated-gif{
  width:100%;
}
button{
  outline:none;
  border:none;
  color: var(--off-white);
  padding:8px;
  border-radius:5px;
  font-size:18px;
  letter-spacing: 1.5px;
}
button{
    background:var(--primary-color);
}
button:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px var(--dark-gray);
}
button:active{
  transform: scale(0.9);
}


footer{
  /* position:absolute;
  left:0;
  bottom:0; */
  margin:0rem auto 0 auto;
  width:100%;
  padding-top:1rem;
  padding-bottom:1rem;
  background: var(--primary-color);
  color: var(--off-white);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer h2{
  margin:20px auto;
}
footer p{
  margin:20px auto;
}
footer .social-links{
  list-style: none;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap:30px;
  transition: transform 0.3s ease-in-out;
  padding-left:20px;
  padding-right:20px;
}
 .social-linkItem a{
   font-size:25px;
 }
.social-links li:hover{
  transform: translateY(-20px);
}
